* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(243, 156, 18);
  min-height: 100vh;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  color: black;
  margin-bottom: 1rem;
}

#quote-box {
  background-color: white;
  text-align: center;
  width: 520px;
  border-radius: 4px;
  padding: 45px 50px;
  box-shadow: -5px -1px 48px -14px rgba(0, 0, 0, 0.75);
}

.quote-text {
  font-size: 2rem;
  text-align: center;
  margin-right: 10px;
}

.quote-text span {
  width: 100%;
}

#quote-author {
  font-weight: 300;
  margin-top: 1rem;
  font-size: 1rem;
  text-align: end;
}

.buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 16px;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  height: 35px;
  text-align: center;
}

footer {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: white;
  text-align: center;
}

footer a {
  text-decoration: none;
  font-size: 1rem;
  color: white;
}
